
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background: url("../img/fondos/fondo_principal.jpg");
    background: norepeat;
    overflow-x: hidden;
}

tbody{
align-items:"center"
}

/*--------BARRA BUSCADOR E INSCRIPCION------------------------------------*/

#barra{
  display: flex;
  float: left; /*Barra para la derecha*/
  width: 100%;/*Ancho de la barra al 100%*/
  background: #000; /*Fondo de la Barra*/
  color: #fff; /*Color de letra*/
  padding: 0.4%;/*margen por dentro de la barra*/
}

    #barra h1 {
      width: 30%; /*Ancho al 30% del total de la barra*/
      font-size: 200%; /*tamaño del titulo*/
      text-align: center; /*Texto centrado */
    }

#barra__buscador-inscripcion{
  width: 100%; /*ocupa todo el 70% que falta de la #barra en un 100%*/
  height: auto; /*centra la altura*/
}

    #barra__buscador-inscripcion input {
      width: 40%;/*ocupa el 40% del 70% de form*/
      padding: 0.5%; /*margen por dentro aumenta en 0.5%*/
      margin-right: 0.5%; /*margeb de derecha aumenta en un 0.5%*/
      font-size: 130%; /*tamaño de letra aumenta en un 130%*/
      color: #000; /*color de la letra cuando se escribe*/
    }

    #buscador {
      display: inline-block; /*cambia el div block a inline-block*/
      width: 10%; /*ocupa el 10% del 70% de la barra*/
      text-align: left; /*alinea a la izquierda el contenido*/
    }

        #buscador a {
          padding-right: 20%; /*alinea a la derecha el contenido*/
          font-size: 170%; /*tamaño de letra */
        }

    #inscripcion {
      display: inline-block; /*cambia el div block a inline-block*/
       width: 45%; /*ocupa el 45% del 70% de la barra*/
       text-align: center; /*centra el texto*/
    }

        #inscripcion a {
          padding: 0% 5%; /*margen por dentro del boton inscripcion*/
          margin-right: 20%; /*margen derecha del boton inscripcion*/
          font-size: 170%; /*tamaño de la letra*/
          text-decoration: none;
          color: #fff; /*Color de letra*/
        }

        #inscripcion a:hover { /* imagen de animacion de boton cuando es mouse pase por encima*/
          transition: .3s all; /*tiempo que dura agrandar el botom inscripcion*/
          -webkit-transform: scale(1.5, 1.5); /*transforma el boton de inscripcion*/
            -ms-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
        }

/*------------------------BARRA DEL NAVEGADOR-------------------------------------------------*/

#navegador {
  width: 100%;
  float:left;
}

    #navegador__logo {
      float:left;
      width: 20%;
    }

        #navegador__logo img {
          width: 100%;
        }

    #navegador__barra {
      float:left;
      width: 80%;
    }

        #menu {
          width: 100%;
          border: 10% solid #533839;/*borde grosor 1px estilo solido y color #533839*/
          background-color: #9d8282;/*fondo del menu*/
          background-image: linear-gradient(#533839, #9d8282);/*gradiente con los colores de arriba abajo*/
          border-radius: 0.6em; /*borde de las esquinas para curvear*/
          box-shadow: 0 0.1em 0.1em #ab4343;/*sombra de cada menú*/
          zoom: 1;/*tamaño de letra para el menu*/
          display: flex;/*caja flexible al nivel del contenedor*/
        }

        #menu:after {
          clear: both;/*se pone debajo de caja de navegacion*/
        }

            #menu ul {
              opacity: 0;/*no es opaco*/
              visibility: hidden;/*esconde la visibilidad de los items*/
              position: absolute;/* El elemento se coloca en relación con su primer elemento antecesor posicionado (no estático) */
              left: 0; /*distancia de la izquierda*/
              z-index: 10;/*sobrepuesto*/
              background: linear-gradient(#444, #533839);/*gradiente con los colores de arriba abajo */
              transition: all .2s ease-in-out;/*tiempo que demora para aparecer los items*/
            }
            
              
                #menu li {
                  float: left;/*especifica si un elemento debe flotar a la izquierda <-- */
                  border-right: 0.1em solid #533839;/*borde de la derecha*/
                  box-shadow: 0.1em 0 0 #444;/*sombra de cada item*/
                  position: relative;/*elemento se coloca en relación con su posición normal*/
                  width: 100%; /*ocupa todo la caja li*/
                }

                    #menu a {
                      float: left; /*especifica si un elemento debe flotar a la izquierda <--*/
                      padding: auto 17%;/*dimensiones del contendido al borde*/
                      /*padding: 12px 20px;*/
                      color: #aaaaaa;/*color de letra*/
                      font: 145% Arial, Helvetica;/*estilo de letra*/
                      text-align: center;
                      text-decoration: none;/*quita la linea de decoracion */
                      text-shadow: 0 0.12em 0 #000;/*sombra del texto*/
                      font-weight: bold;/*pone en negrita la letras*/ 
                      width: 100%;
                    }

                        #menu ul li:last-child {/*selector coincide con cada elemento que es el último li de su #menu ul*/
                          box-shadow: none;/*quita la sombra*/
                        }
                        
                            #menu li:hover > ul { /*selecciona elementos cuando pasa el mouse para todo ul que es padre de li:hover*/
                              opacity: 1; /*opacidad total ya que es de 0 a 1*/
                              visibility: visible;/* se mantiene visible */
                              margin: 0;/* no tiene margen */
                            }

                            #menu .subitem {
                              text-align: justify;
                            }

                                #menu ul a:hover, #menu ul a:focus{
                                  background-color: #C9302C; /*color de fondo*/
                                }                          

/*----------------CARRUSEL----------------------------------------------------------------------*/

#baner {
  width: 100%;
}

/*-----------------ARTICULO CONTENIDO--------------------------------------------------------------*/

#titulo { /*titulo de PROGRAMAS DE ESPECIALIZACION PROFESIONAL Y DIPLOMADOS*/
  background-color: #B04445;/*fondo para el titulo */
  color: #fff; /*color de letra del titulo*/
  border: 0.05em solid #fff;/*borde de 1px solido y color blanco*/
  display: block;/*ocupa todo un bloque*/
  padding: 0.4em;/*espacio que hay entre contenido y borde*/
  margin-top: 0.5em;/*margen posterior para arriba 10px*/
  border-radius: 0.3em;/*curva en las esquinas*/
  font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif/*tamaño de letra del titulo*/
}

    .programa {
      position: relative;
      float: left;
      overflow: hidden;
      margin: 1em 1%;
      min-width: 15em;
      max-width: 100%;
      text-align: center;
      border: 0.3em solid #FFF;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);  
      border-radius: 5%;
      background-color: #e2e3db;
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

        .programa img {
          max-width: 100%;
          vertical-align: top;
          height: auto;
          margin: 0.3em;
        }
        
        .programa i {
          position: absolute;
          top: 35%;
          left: 50%;
          font-size: 500%;
          color: #000;
          width: 80%;
          height: 50%;
          line-height: 100%;
          /*font-size: 1.8em;*/
          /*border: 0.3em solid #FFF;*/
          transform: translate(-50%, -50%) scale(0);
          transition: transform 300ms 00ms cubic-bezier(.57,-0.52,.38,.75);
        }
        
        .programa:hover img {
          opacity: 0.3;
          filter: grayscale(100%);
        }

        .programa:hover i {
          transform: translate(-50%, -50%) scale(1);
          transition: transform 300ms 100ms cubic-bezier(.21,.85,.65,1.32);
        }

/*-------------ASIDE CONTENIDO------------------------------------------------------*/

#titulo-convenio {/*parte lateral donde van los convenios*/
  margin-top: 1em;/*margen de arriba de 10px*/
  padding-left: 0em;/*espacio de la derecha*/
  width: 100%;/*ocupa el 100% de su contenedor*/
  height: 99%; /*ocupa casi toda la altura */
}

    #titulo-convenio > #titulo-convenio__titulo {
      color: #FFFFFF; /* color del titulo convenios */
      background-color: #B04445;/*color de fondo del titulo*/
      border-color: #C9302C;/*color de borde del titulo*/
      font-size: 1.4em;/*tamaño de letra del titulo (convenios y auspicios)*/
      font-weight: bold;
    }

#convenios {
  margin: 0em;
  padding: 0em;
  text-align: center;
  list-style: none; /*no tiene propiedad de lista por el none*/
}

    .convenios__universidad {
      border-bottom: 1px dotted #555;/* borde de la parte de abajo */
    }

    #titulo_enlace{
      font-size: 1.8em;
        color:firebrick;
        font-weight: bold;
        padding-top:5%;
    }

    .programa_enlace{
      margin: 1.5em 2em;
      border-radius: 0.5em;
      border: 0.3em solid #973331;
      text-align: justify;
    }

        .nombre_enlace {
          text-decoration: none;
          font-size: 1.6em;
          font-weight: bold;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          color: #973331;
        }

        .programa_enlace .nombre_enlace {
          display: block;
          margin: 0em;
          padding: 0.4em 1em;
          width: 100%;
        }

        .programa_enlace:hover {
          background-color: #aaa;
        }

        .nombre_enlace:hover {
          text-decoration: none;
          color: red;
        }

            #aside_cal {
              text-align: center;
              font-size: 200%;
            }

                table {
                  width: 100%;
                  border-collapse: separate;
                  border-spacing: 0.4em 0.5em;
                }           

/*----------------------------------FOOTER----------------------------------------------------------*/

#referencia {
  display:flex;
  width: 100%;
  background-color:#973331;/*color de fondo*/
  color: #000000;/*color de letra*/
  border-top: solid #ffffff 2px;/*borde de arriba*/
  margin: 1% 0%;
  padding: 0.5% 0%;
}

    #referencia__titulo {
      width: 100%; /*contenido al 100% dentro del contenedor*/
      padding-bottom: 1%;/* espacio de abajo */
      text-align: center; /*texto centrado*/
      color: #ffffff;/*color de texto*/
      font: 3em Arial, Helvetica;/* tamaño de letra y etilo de letra */
    }

    .referencia__texto { 
      font: 1.5em Arial, Helvetica; /* tamaño de letra y etilo de letra */
    }

        .referencia__texto ul {
          padding: 0% 3%;
          list-style: none; /*no tiene propiedad de lista por el none*/
        }

            .referencia__texto ul > li {
              padding: 1.5% 0%;
              border-bottom: dashed #ffffff 1px;/*borde de abajo*/
            }

                .referencia__texto a {
                  color: #973331; /* color de texto */
                }

    #referencia__autor {
      width: 100%;
      text-align: center;
      font-size: 150%;
    } 

/*--------------------------NAVEGADOR LATERAL------------------------------------------------------*/

#navegador_lateral {
  position: fixed; /*posicion con relacion de la ventana del navegador*/
  left: 95%; /*posicion para la derecha*/
  top: 20%;/*posicion de arriba*/
  width: 200%;/*ancho*/
  z-index: 200;
  
}

    #navegador_lateral__redes {
      text-decoration: none;
    }

        #navegador_lateral__redes li {
          list-style-type: none;
          background-color: #333;/*color de fondo*/
          padding: 0.4em;/*no tiene espacio del contenido al borde*/
          transition: all 0.25s ease-in-out;/*translacion*/
          cursor: pointer; /*cursor del mouse que se muestra*/
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
          filter: gray; /*filtro */
          -webkit-filter: grayscale(100%);
        }

        #navegador_lateral__redes li:hover {
          margin-left: -2.5%; /*margen de la izquierda*/
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(0%);
        }

            #navegador_lateral__redes a {
              text-decoration: none; /*no tiene decoracion*/
              color: #efeefe;
              font: normal 1.5em Arial, sans-serif;/*letra*/
            }

                .navegador_lateral__redes-imagen {
                      float: left; /*flotante a la izquierda*/   
                }

                .navegador_lateral__redes-nombre {
                  margin-top: 0.2em;
                  padding: 0.1em 0em 0.1em 2.5em;
                }
                    
                .navegador_lateral__redes-nombre:hover {
                  text-decoration: none; /*no tiene decoracion*/
                  color: #fff;
                }

/*------------- CONTENIDO MISION, VISION Y QUIENES SOMOS --------------------------------------*/

.sobre_idept__titulo {
  background-color: #B04445;/*fondo para el titulo */
  color: #fff; /*color de letra del titulo*/
  border: 0.05em solid #fff;/*borde de 1px solido y color blanco*/
  display: block;/*ocupa todo un bloque*/
  padding: 0.4em;/*espacio que hay entre contenido y borde*/
  margin-top: 0.5em;/*margen posterior para arriba 10px*/
  border-radius: 0.3em;/*curva en las esquinas*/
  font: bold 2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif/*tamaño de letra del titulo*/
}

.sobre_idept__contenido {
  padding: 3% 3% 2% 3%;/*margen*/
  overflow: auto;/*no deja que el contenido desborde a su contenedor*/
  text-align: justify;/*texto justificado*/
  font-size: 1.6em;
}

    .sobre_idept__contenido img {
      float: right;/*se posiciona a la derecha*/
      margin: 0em 0.5em 0em 2em;/*margen*/
      border: 0.4em solid;/*grosor del borde*/
      border-color: #c3bebb;/*color de borde*/
      border-radius: 1em / 0.5em;/*borde*/
      -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
    -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    }

    .sobre_idept__contenido resoluciones {
	font-size: 2em;
    }

    #izquierda img {
      float: left;
      margin: 0em 2em 0em 0em;/*margen*/
      padding: none;
    }

#abajo {
  padding-bottom: 0%;
}

/*-----------CONTENIDO MENSAJE-------------*/

    #mensaje_foto img{
      margin-bottom: 1.5%;
    }

/*--------- CONTENIDO AUTORIDADES ----------*/

.foto {
  padding: 2em;
}

    .foto__autoridad{
      width: 100%;/*ocupa todo el ancho*/
      height: 100%;/*ocupa todo el alto*/
      -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
      -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    }

    .foto__autoridad:hover{
      background: -webkit-linear-gradient(bottom, #FFFFFF, #933939);/*gradiente*/
      opacity: 0.9;
    }

        .foto__descripcion h4{
          font: bold 2em Georgia, sans-serif;/*letra*/
        }

        .foto__descripcion p{
          font: normal 1.5em Arial, sans-serif;/*letra*/
          line-height: 2em;/*espaciador entre lineas*/
        }

/*--------------- CONNTENIDO DE REPRESENTANTES --------------------------------------------*/

.representantes__tabla thead {
  font-size: 2em;
}

.representantes__tabla tbody {
  font-size: 1.5em;
}

    .representantes__tabla td {
    border-bottom: #fff;
    }

/*----------- TERMINO DEL PRIMER ITEM -------------------------------------------------------*/
/*----------- INICIO DEL SEGUNDO ITEM -------------------------------------------------------*/

/*------------ORGANIZACION DE PROGRAMAS ----------------------------------------------------*/
#organizacion {
  background: #FFFFFF; /*fondo blanco*/
  padding: 2em 2em 0em 2em; /*espacio del texto al borde*/
  border-radius: 2%; /*curva del borde*/
  margin: 1em 0em 0em 0em;/*margen de arriba y abajo*/
}

    .organizacion__contenido {
      font: normal 1em Arial, sans-serif;/*letra*/
      line-height: 1.5em;/*espaciador entre lineas*/
      margin: 0em 0.1em;
    }

        .organizacion__contenido strong {
          font-size: 1.6em;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

/*---------------------------------------- PROGRAMAS -------------------------------------------------------*/

#galeria {
	width: 100%;/*Ocupa toda el ancho de la pagina*/
	/*padding: 0.5em;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

    #galeria div{
        width: 98%;/*Ayuda a la primera caja ocupar el 98% de ancho*/
        margin: 0.9%;
        border: .5em solid darkred;
        background-color:lightgrey;
    }

    .galeria__programas {
      /*margin-top: 10px;*/
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

        .galeria__programas__area {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          transition: all 0.2s ease-in;
        }

            .galeria__programas__area:hover {
              cursor: pointer;
              transform: scale(1.05);
              -webkit-box-shadow: 1px 1px 10px 1px #1d2028;
              box-shadow: 1px 1px 10px 1px #1d2028;
            }

            .galeria__programas__area a {
              text-decoration: none;
            }

                .galeria__programas__area img {
                  height: 100%;/*Ocupa toda la altura de la imagen*/
                  width: 100%;/*La imagen ocupa el 100% de ancho*/
                  object-fit: cover;
                }

                .galeria__programas__area h2 {
                  margin-top: 0.5em;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  font-size: 2.3em;
                  font-weight: bold;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  color:rgb(51, 27, 27);
                  text-align: center;
                  text-decoration: none;
                  transition: color 0.3s ease-in-out;
                }

                .galeria__programas__area h2:hover{
                  cursor: pointer;
                  color: #973331;
                }

/*----------- TERMINO DEL SEGUNDO ITEM -------------------------------------------------------*/
/*----------- INICIO DEL TERCER ITEM -------------------------------------------------------*/

/*-------------------------------PROCESOS-------------------------------------------------------*/
    .sobre_idept__contenido .imagen-proceso {
    margin-bottom: 2%;
    }

    #izquierda .imagen-proceso {
      margin-bottom: 2%;
    }

/*---------------------------------- REQUISITOS ---------------------------------------------------*/

/* SE UTILIZO IDS Y CLASES ANTERIORES */

/*----------- TERMINO DEL TERCER ITEM -------------------------------------------------------*/
/*----------- INICIO DEL CUARTO ITEM -------------------------------------------------------*/

/*--------------------------- CONVENIO COOPERACION ACADEMICA ----------------------------------------*/

ul .cuadrado{
  list-style: square;
}

ul .circulo{
  list-style: circle;
}

.titulo__universidad {
  color: #973331;
}

.subtitulo__universidad {
  text-decoration:underline; 
  font-size:1em; 
  line-height:0px;
}

/*-------------------- CONVENIO DE CAPACITACION INTERINSTITUCIONAL ---------------------------------------------------*/

/* SE UTILIZO IDS Y CLASES ANTERIORES */

/*----------- TERMINO DEL CUARTO ITEM -------------------------------------------------------*/
/*----------- INICIO DEL QUINTO ITEM -------------------------------------------------------*/
/*------------------------ MODELO DE CERTIFICACION ----------------------------------------------------------*/

.certificados{
  margin-top: 2em;
  background: #FFFFFF; 
  border-radius: 1%;
  border: solid 0.3em #000;
  width: auto; 
  position: initial; 
  text-align: center;
}

    .certificados div {
      margin-bottom: 3%;
    }

#certificado__borde {
  border: 0px;
}

/*----------- TERMINO DEL QUINTO ITEM -------------------------------------------------------*/
/*----------- INICIO DEL SEXTO ITEM -------------------------------------------------------*/
/*--------------------------- PREGUNTAS FRECUENTES -------------------------------------------------*/

.respuesta__letra {
  font-size: 1.5em;
}

/*------------------------------------- EVENTOS Y NOTICIAS -----------------------------------------*/
#portafolio{
  margin-top: 1%;
  background-color: #e2e3db;
  border-radius: 2%;
  border-style: groove;
  display: inline-block;
  padding: 1% 1% 0% 1%;
}

    #portafolio a {
      text-decoration: none;
      font-size: 2em;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color:darkslategray;
    }

        #portafolio img{
          padding-bottom: 3%;
        }

    .boton{
      padding: 2%;
      display: contents;
    }

        .noticia img{
          float: none;
          display:block;
          margin: 1.6em auto;
          border: .5em solid;/*grosor del borde*/
          border-color: #c3bebb;/*color de borde*/
          border-radius: 2.5em / 1.5em;/*borde*/
          -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
        -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
        }

        .noticia h2 {
          color: #940505;
          padding: 1% 0%;
          font-size: 2.5em;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-weight: bold;
          text-decoration: underline;
        }

    .excepcion {
      height: 99.97% !important;
    }

    /*--------------------- RESOLUCION ----------------------------------------------------*/
    #resolucion img {
      border: #000 solid 0.2em;
      width: 100%;
    }

    #resolucion .resolucion-imagen1 {
      margin-top: 1em;
    }

    /*------PROGRAMA INTEGRAL DE GERENCIA --------------------------------------------------------*/

#int_ger {
  background-color:#F5CFD5;
  color: #000;
  font-weight: bold;
  border: 0.1em solid #000;
}

.programa__titulo {
  margin-top:1.5%;
  padding-left: 1%;
  font: bold 2.7em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif/*tamaño de letra del titulo*/
}
    
.programa__lista { 
  background-color:white;
  color: #000;
  border-radius: 0.5%;
  border: 2px solid #000;
  height: 96%;
}
    
    .programa__lista__conteo {
      padding-top: 2%;
      font-weight: bold;
      margin-left: 2%;
      margin-right: 3%;
    }

    .programa__lista li {
      font-size: 1.3em;
      font-family: 'IBM Plex Sans Thai Looped', sans-serif;
      text-align: justify;
    }
        
    .programa__lista h5 {
      font-family: 'IBM Plex Sans Thai Looped', sans-serif;
      text-align: justify;
    }

/*--------------------ADMINISTRACION GENERAL --------------------------------------------------------------*/

#adm_gen {
  background-color:#F5CFD5; /*ROSADO PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

    .subprograma__titulo {
      font: bold 1.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif/*tamaño de letra del titulo*/
    }

/*----------------------- GESTIÓN Y DESARROLLO DOCENTE -----------------------------------------------------*/

#ges_doc {
  background-color:#B8D679; /*VERDE PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

#programa__excepcion-bajar {
  height: 98% !important;
}

/*------------------------- PSICOLOGIA --------------------------------------------------------------------------*/

#psicologia {
  background-color:#B49FDF;/*MORADO PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

#programa__excepcion-subir {
  height: 94% !important;
}

/*------------------- ASUNTOS MEDICOS ------------------------------------------------------------------------*/

#asun_med {
  background-color:#5BF5F5; /*celeste pastel*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*------------------------------------ PROGRAMAS DE SEGURIDAD ----------------------------------------------*/

#pro_seg {
  background-color:#ECEA64;/*AMARILLO PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*----------------------------------- SECRETARIADO Y ARCHIVO -------------------------------------------------*/

#sec_arc {
  background-color:#8CC78C;
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*---------------------------------- MEDIO AMBIENTE -------------------------------------------------------------*/

#med_amb {
  background-color:#CDC99C; /*MARRON PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*-------------------------------------- DERECHO -----------------------------------------------------------------------------*/

#derecho {
  background-color:#F5E4D1;/*DERECHO PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*--------------------------------------- PROGRAMAS TECNICOS ------------------------------------------------------------------*/

#pro_tec {
  background-color:#B49FDF;/*MORADO PASTEL*/
  color: #000;
  font-weight: bold;
  border:2px solid #000;
}

/*--------------------------------- CONTACTANOS ---------------------------------------------------------------------------*/

#contactanos__formulario {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  font: normal 1.5em Arial, sans-serif;
  margin: 2% 3% 2% 3%;
  padding: 3%;
  border: 2px solid #933939;
  background-color: #940505;
  color: #dcdcdc;
  border-radius: 2%;
}

    .seleccionar {
      font-weight: bold;
      font-size: 0.9em;
    }

        .contactanos__formulario__titulo {
          font-weight: bold;
        }

        .contactanos__formulario__color {
          color:green;
          font-weight: bold;
        }

        .contactanos__formulario__contenido {
          font-size: 1.2em;
        }

        #contactanos__formulario__mensaje {
          height: 15em;
        }

    #boton {
      text-align: center;
    }

        .contactanos__formulario__boton {
          padding: 2%;
          font-weight: bold;
          color: white;
          width: 25%;
          border-radius: 5%;
          font-size: 1em;
        }

            .contactanos__formulario__boton:hover {
              border: 2px solid white;
              background: #940505;
            }

    .sobre_idept__contenido iframe {
      float:left;
      margin-left: -3%;
      margin-right: 3%;
      margin-bottom: 3%;
      border: 5px solid;/*grosor del borde*/
      border-color: #c3bebb;/*color de borde*/
      border-radius: 20px / 10px;/*borde*/
      -webkit-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);/*sombra*/
    -moz-box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 17px 5px 0px rgba(0,0,0,0.75);
    }

        .contactanos {
          font-weight: bold; 
          font-size: 1.2em;
        }

        .contactanos__referencia {
          font-size: 1.09em;
        }

/*----------------------------- MATRICULA ---------------------------------------------------*/

.matricula__recomendacion {
  font: normal 1.7em sans-serif;
  text-align: justify;
}

.matricula__titulo {
  color: #C9302C;
}

.form-group {
  margin-bottom: 0.4em;
}

.form-group label {
  padding-right: 0em;
}

.form-group input {
  font-size: 1em;
}

.matricula__seleccionar {
  padding-right: 0em;
}
    .matricula__seleccionar label {
      float: right;
    }

    #institucion {
      font-size: 1em;
    }

    #programa {
      width: 100%;
      font-size: 0.8m;
      padding: 0.5% 0% 0.5% 0.5%;
      border: #fff;
    }

    .programa__listado {
      display: none;
    }

#matricula__deposito {
  padding-bottom: 1.5em;
}

    .deposito {
      padding-top: 0.5em;
    }

    .deposito__contenido {
      padding: 0px;
      margin: 0px;
    }

        #deposito {
          font-size: 1em;
        }

    .fecha {
      text-align: center;
      padding-top: 0.5em;
    }
    
    .fecha_dep {
      margin: 0px;
    }

        #fecha_dep {
          font-size: 1em;
        }
    
.comentario{
  padding: 1em 0em;
  color:red; 
  font: bold 1em Arial, sans-serif; 
}

.cuentas-corrientes {
  padding-right: 2.5em;
  padding-left: 2.5em;
  font: normal 1em sans-serif;
}

.enviar_matricula {
  padding: 0.8em; 
  font: normal 1em Hervetica, sans-serif;
}

/*-------------PARTE CELULAR-----------------*/
@media (min-width: 500px) and (max-width: 1024px){
  #navegador__logo{
    width: 100%;
  }
}


@media only screen and (max-width: 500px){

#navegador__logo{
  width: 100%;
}

#barra h1 {
  font-size: 1.2em;
}

#inscripcion {
  float:right;
  font-size:smaller;
  margin-right: -10%;
  margin-top: 1.5%;
}

}



